body {  
    font-family: "Helvetica Neue",Helvetica,"Liberation Sans", sans-serif;  
    margin: 0;  
    text-align: center;     
}

.hidden {display:none;}

a {
    color: #3b5998;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

h1 {
    font-size: xx-large;    
    margin-bottom: 0.5em;
    font-weight: bold;
    border-bottom: 2px solid black;
}

.message {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.error {
    border-color: hsl(0, 5%, 50%);;
    color: hsl(0, 5%, 80%);;
}
.info {
    border-color: hsl(0, 5%, 80%);;
    color: hsl(0, 5%, 80%);;
}

#events, .event, .description {margin: 0 auto;}

#events {
    width: 305px;
}

.transparent {
    opacity: 0.3;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}
.transparent:focus {
    opacity: 1;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

.property, .title, .priority, .description {
    border: 1px solid white;
    border-radius: 4px;
}
.property, .title, .priority {
    padding: 0.3em;
    margin: 0.3em;  
}
.title {
    width: 230px;
}
.property:focus, .title:focus, .priority:focus, .title:focus ~ .description {
    border: 1px solid gray;
}

.event-vote {    
    display: inline-block;
    font-weight: bold;
    color: white;
    min-width: 30px;
    background: hsl(0, 5%, 80%);
    border: 1px solid white;
    border-radius: 15px;
}
.description {
    text-align: left;
    display: block;
    width: inherit;
    height: 17px;
    opacity: .3;
    -webkit-transition: height 0.4s;
    transition: height 0.4s;
    border-right: none;
    overflow: hidden;
    resize: none;
}

.description:focus, .title:focus ~ .description {
    height: 50px;
    opacity: 1;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
}

.event-vote {
    display: inline-block;
}

.event {
    width: inherit;
    border: none;
    border-right: 2px black;
    border-right-style: dotted;
    border-top-right-radius: 10px;
}

.description {
    border-right: none;
}

.submit {
    padding: 0.3em;
    margin: 0.3em;
    border: 1px solid gray;
    border-radius: 4px;
}
