body {  
    font-family: "Helvetica Neue",Helvetica,"Liberation Sans", sans-serif;  
    margin: 0;  
    text-align: center;     
}

h1 {
    font-size: xx-large;    
    margin-bottom: 0.5em;
    font-weight: bold;
    border-bottom: 2px solid black;
}

h2 {
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    color: red;
}

#events, .event, textarea {margin: 0 auto;}

#events {
    width: 305px;
}

.transparent {
    opacity: 0.3;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}
.transparent:focus {
    opacity: 1;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

input, textarea {
    border: 1px solid white;
    border-radius: 4px;
}
input {
    padding: 0.3em;
    margin: 0.3em;  
    font-size: auto;
}
.title {
    width: 230px;
}
input:focus, .title:focus ~ .description {
    border: 1px solid gray;
}
input:focus {
    padding: 0.3em;
    margin: 0.3em;      
}

.event-vote {    
    display: inline-block;
    font-weight: bold;
    color: white;
    min-width: 30px;
    background: hsl(0, 5%, 80%);
    border: 1px solid white;
    border-radius: 15px;
}
textarea {
    text-align: left;
    display: block;
    width: inherit;
    height: 17px;
    opacity: .3;
    -webkit-transition: height 0.4s;
    transition: height 0.4s;
    border-right: none;
}

.description:focus, .title:focus ~ .description {
    height: 50px;
    opacity: 1;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
}

.event-vote {
    display: inline-block;
}

.event {
    width: inherit;
    border: none;
    border-right: 2px black;
    border-right-style: dotted;
    border-top-right-radius: 10px;
}